body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;               /* Utiliza flexbox para centrar contenido */
    flex-direction: column;      /* Alinea los elementos en una columna */
    align-items: center;         /* Centra los elementos horizontalmente */
    justify-content: center;     /* Centra los elementos verticalmente */
    height: 100vh;              /* Ocupa toda la altura de la ventana */
}

div {
    margin-bottom: 10px;
    width: 100%;                /* Ocupa el ancho completo del contenedor */
    max-width: 400px;           /* Ancho máximo para dispositivos grandes */
}

label {
    margin-right: 10px;
}

input, button {
    padding: 5px;
    width: 100%;                /* Ocupa el ancho completo del contenedor */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para los botones de marca */
.brand-button {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    width: 100%;                /* Ocupa el ancho completo del contenedor */
}

.brand-button.active {
    background-color: #007bff; /* Color resaltado para el botón seleccionado */
    color: white;
}

@media (max-width: 600px) {
    body {
        margin: 10px;
    }
}
