body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input, button {
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%; /* Ocupa el ancho completo en dispositivos móviles */
}

button:hover {
    background-color: #45a049;
}

/* Estilo para los botones de marca */
.brand-button {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
}

.brand-button.active {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 600px) {
    body {
        margin: 10px;
    }
}
